{% extends "common/form/form.njk"%}

{% if internationalAddressUrl %}
  {% block after_fields %}
    <div class="govuk-form-group">
      <p class="govuk-body">
        {% if laPortal == true %}
          <a href="/la-portal/other-parent/address/international" id="enter-international-address" class="govuk-link">{{ enterInternationalAddress }}</a>
        {% else %}
          <a href="{{internationalAddressUrl}}" id="enter-international-address" class="govuk-link">{{ enterInternationalAddress }}</a>
        {% endif %}
      </p>
    </div>
  {% endblock %}
{% endif %}