{% extends "common/form/form.njk"%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block after_fields %}
  {% if confirmationExplanation %}
    <div class="govuk-body">{{ confirmationExplanation }}</div>
  {% endif %}
  {{ govukWarningText({
    text: confirmApplicationIsTrueWarning,
    iconFallbackText: "Warning"
  }) }}
{% endblock %}
