{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 | safe }}</p>
  <p class="govuk-body govuk-inset-text">{{ line2 | safe }}</p>
  <p class="govuk-body">{{ line3 }}</p>
  <p class="govuk-body">{{ line4 | safe }}</p>
  <p class="govuk-body"><a href="/save-and-sign-out?lng={{language}}" class="govuk-link">{{ saveAndSignOut }}</a></p>
{% endblock %}
