{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ point1 }}</li>
    <li>{{ point2 }}</li>
    <li>{{ point3 }}</li>
    <li>{{ point4 }}</li>
    <li>{{ point5 }}</li>
    <li>{{ point6 }}</li>
    <li>{{ point7 }}</li>
    <li>{{ point8 }}</li>
  </ul>
{% endblock %}