{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ bullet1 }}</li>
    <li>{{ bullet2 }}</li>
    <li>{{ bullet3 }}</li>
    <li>{{ bullet4 }}</li>
  </ul>
  <h2 class="govuk-heading-m">{{ cannotGetAddressTitle }}</h2>
  <p class="govuk-body">{{ cannotGetAddressLine1 }}</p>
{% endblock %}
