
<article>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{contactUsForHelp}}
    </span>
  </summary>
  <div class="govuk-details__text">
        <h2 class="govuk-heading-m">{{sendUsAMessage}}</h2>
            {% if laPortal == true %}
                <p class="govuk-body">{{ findCourtTribunalDetailsLA | safe }}</p>
            {% else %}
              <p class="govuk-body">{{ findCourtTribunalDetails | safe }}</p>
              <p class="govuk-body">{{ askIfUnsure }}</p>
            {% endif %}
  </div>
</details>
</article>
