
<article>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      {{contactUsForHelp}}
    </span>
  </summary>
  <div class="govuk-details__text">

        <h2 class="govuk-heading-m">{{sendUsAMessage}}</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#">{{sendUsAMessageTBC}}</a></li>
                <li>{{sendUsAMessageDetails}}</li>
            </ul>
        <h2 class="govuk-heading-m">{{telephone}}</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{TBC}}</li>
                <li>{{telephoneDetails}}</li>
            </ul>
  </div>
</details>

</article>
