{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "common/form/form.njk"%}

{% block before_fields %}
  {{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 govuk-!-margin-top-9',
  rows: placementOrderListItems
}) }}
{% endblock %}