{% extends "common/form/form.njk"%}

{% block after_fields %}
            <div class="govuk-warning-text govuk-!-margin-top-6">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                {{warning}}
              </strong>
            </div>
{% endblock %}