{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% set anotherEmailAddressContent %}
  Provide their new email address or postal address to the court.
  You can phone, email or post it using the contact details in the ‘Getting help’ section at the top of this page.<br><br>
  Postal addresses can be UK or international. It can be their home address or their solicitor’s address.
  You should avoid using their work address but if you have to then you should ask their permission first.<br><br>
  You do not have to pay anything to update their email or postal address.
{% endset %}

{% set emailButNotPostalContent %}
  If you have their email address but not their postal address, then you can apply to the court to only send the application to their email address.
  This application costs an additional {{ alternativeService }}, unless you are eligible for Help With Fees.<br><br>
  <strong>How to apply:</strong> Download and complete <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=98" class="govuk-link">form D11</a>.
  Send the form to the Courts and Tribunals Service Centre by email or post <br><br>
  Email: {{ contactEmail }} <br><br>
  <strong>Courts and Tribunals Service Centre</strong><br>
  HMCTS Divorce and Dissolution service<br>
  PO Box 12706<br>
  Harlow<br>
  CM20 9QT
{% endset %}

{% set needToSearchForAddressContent %}
  You can apply to search government records for your {{ partner }}'s address, for example the electoral register.
  They must live in England or Wales. The application costs an additional {{ searchForAddress }}, unless you are eligible for Help With Fees.<br><br>
  <strong>How to apply:</strong> Call the Courts and Tribunals Service Centre on 0300 303 0642 and ask for the form to be sent to you.<br><br>
  <strong>How to pay:</strong> Call the Courts and Tribunals Service Centre on 0300 303 0642 to make the {{ searchForAddress }} payment by card (between 8.30am and 5pm).
  If you're eligible for Help With Fees then you'll need to apply again and
  <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link">get a new reference number</a>.
{% endset %}

{% set thinkPartnerChoosingNotToRespondContent %}
  If you think that your {{ partner }} is deliberately not responding
  then you can pay a professional to ‘serve’ (deliver) the
  {% if (isDivorce) %} divorce papers{% else %} papers to end the civil partnership{% endif %} to them.<br><br>
  If the application is delivered successfully, they will give you a letter as evidence that your {{ partner }} has received the application.
  This is known as an ‘certificate of service'.<br><br>
  If your {{ partner }} does not respond within 14 days of being ‘served’ the application, you can use this ‘certificate of service’
  to continue {% if (isDivorce) %} your divorce{% else %} ending your civil partnership{% endif %} without their response.<br><br>
  You can either hire a professional to ‘serve’ (deliver) the documents, or apply to use the court bailiffs.
  Using a privately-hired professional is usually quicker.<br><br>
  <strong>Serving using a privately-hired professional</strong><br>
  You can pay a professional to serve (deliver) the court documents to your {{ partner }}. These professionals are known as ‘process servers’.
  If the process server successfully delivers the documents then they will provide you with a document as evidence, called a ‘certificate of service’.
  You can use this certificate to continue with {% if (isDivorce) %} your divorce{% else %} ending your civil partnership{% endif %}.<br><br>
  Using a process server is usually quicker than using a court bailiff. You should arrange service by {{dueDate}}, or you will need to apply to the court to have the time extended.<br><br>
  If you are going to use a process server then do the following steps:
  <ol>
  <li>Contact the court so it knows you are arranging service, using the contact details below</li>
  <li>Find a process server by searching online or contacting your local solicitor</li>
  <li>When the process server has arranged service and you have your ‘certificate of service’ then send it to the court by email or post. Make sure you quote your case number.</li>
  </ol>
  Email: {{ contactEmail }}<br><br>
  <strong>Courts and Tribunals Service Centre</strong><br>
  HMCTS Divorce and Dissolution service<br>
  PO Box 12706<br>
  Harlow<br>
  CM20 9QT<br><br>
  <strong>Serving using the court bailiffs</strong><br>
  The bailiff service can only be used at addresses in England and Wales where delivery by post has already failed.
  If you have a new address for your {{ partner }}, you’ll have to get it delivered by post to that address, before you can apply for the bailiff service.
  Using the court bailiff service costs an additional {{ courtBailiffService }}, unless you’re eligible for Help With Fees.<br><br>
  <strong>How to apply:</strong> Download and complete <a href="https://www.gov.uk/government/publications/form-d89-request-for-personal-service-by-a-court-bailiff" class="govuk-link">form D89</a>.
  You'll also need to send:
  <ul><li>a photo of your {{ partner }}</li><li>a copy of your
  {% if (isDivorce) %} divorce{% else %} civil partnership{% endif %} application</li></ul>
  Send the completed form and other documents to the Courts and Tribunals Service Centre by email or post:<br><br>
  Email: {{ contactEmail }} <br><br>
  <strong>Courts and Tribunals Service Centre</strong><br>
  HMCTS Divorce and Dissolution service<br>
  PO Box 12706<br>
  Harlow<br>
  CM20 9QT<br><br>
  <strong>How to pay:</strong> Call the Courts and Tribunals Service Centre on 0300 303 0642 to make the {{ courtBailiffService }}payment by card (between 8.30am and 5pm).
  If you're eligible for Help With Fees then you'll need to apply again and <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link">get a new reference number</a>.
{% endset %}

{% set evidencePartnerNotRespondedContent %}
  If you know your {{ partner }} has received the application, but will not or cannot respond, you can apply to the court for ‘deemed service’.
  This means that the court decides that your {{ partner }} has received the application, and that you can continue without their response.
  This application costs an additional {{ deemedService }}, unless you are eligible for Help With Fees.<br><br>
  You will need to be able to prove that your {{ partner }} received the application.
  For example, you have a text message from your {{ partner }} saying they have received it.<br><br>
  <strong>How to apply:</strong>  Download and complete <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=98" class="govuk-link">form D11</a>.
  Send the form and evidence to the Courts and Tribunals Service Centre by email or post:<br><br>
  Email: {{ contactEmail }}<br><br>
  <strong>Courts and Tribunals Service Centre</strong><br>
  HMCTS Divorce and Dissolution service<br>
  PO Box 12706<br>
  Harlow<br>
  CM20 9QT<br><br>
  <strong>How to pay:</strong> Call the Courts and Tribunals Service Centre on 0300 303 0642 to make the {{ deemedService }} payment by card (between 8.30am and 5pm).
  If you're eligible for Help With Fees then you'll need to apply again and
  <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link">get a new reference number</a>.
{% endset %}

{% set triedEveryWayToDeliverContent %}
  Under exceptional circumstances, you can ask the court to ‘dispense with service’.
  This means the court decides the court documents do not have to be ‘served’ (delivered) to your {{ partner }} because it’s impossible to locate them.<br><br>
  You will have to show that you have done everything you can to find your {{ partner }} and ‘serve’ (deliver) the application to them.
  For example by contacting their relatives, friends and last-known employer and searching government databases for their address.
  This application costs an additional {{ dispensedService }}, unless you are eligible for Help With Fees.<br><br>
  <strong>How to apply:</strong>  Download and complete <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=98" class="govuk-link">form D11</a>
  and <a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=1112" class="govuk-link">form D13b</a>.
  Send the forms to the Courts and Tribunals Service Centre by email or post:<br><br>
  Email: {{ contactEmail }}<br><br>
  <strong>Courts and Tribunals Service Centre</strong><br>
  HMCTS Divorce and Dissolution service<br>
  PO Box 12706<br>
  Harlow<br>
  CM20 9QT<br><br>
  <strong>How to pay:</strong> Call the Courts and Tribunals Service Centre on 0300 303 0642 to make the {{ dispensedService }} payment by card (between 8.30am and 5pm).
  If you're eligible for Help With Fees then you'll need to apply again and
  <a href="https://www.gov.uk/get-help-with-court-fees" class="govuk-link">get a new reference number</a>.
{% endset %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% block page_content %}
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p class="govuk-body">{{ line1 }}</p>
        {{ govukWarningText({
          text: line2,
          iconFallbackText: "Warning"
        }) }}
        <p class="govuk-body">{{ line3 }}</p>
        {{ govukDetails({
          summaryText: anotherEmailAddress,
          html: anotherEmailAddressContent
        }) }}
        {{ govukDetails({
          summaryText: emailButNotPostal,
          html: emailButNotPostalContent
        }) }}
        {{ govukDetails({
          summaryText: needToSearchForAddress,
          html: needToSearchForAddressContent
        }) }}
        {{ govukDetails({
          summaryText: thinkPartnerChoosingNotToRespond,
          html: thinkPartnerChoosingNotToRespondContent
        }) }}
        {{ govukDetails({
          summaryText: evidencePartnerNotResponded,
          html: evidencePartnerNotRespondedContent
        }) }}
        {{ govukDetails({
          summaryText: triedEveryWayToDeliver,
          html: triedEveryWayToDeliverContent
        }) }}
      {% endblock %}
    </div>

      <div class="govuk-grid-column-one-third">
        {% include "../hub-page/right-column/template.njk" %}
      </div>
  </div>
{% endblock %}

{% block contact_us %}{% endblock %}
