{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}

{% extends "common/page.njk" %}

{% block backLink %}{% endblock %}

{% block page_content %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">{{ title }}</h1>
    <div class="govuk-body">
      {{ referenceNumber | safe }}
    </div>
    <p><strong>{{ confirmationEmail }}</strong></p>
  </div>
  {{ hmctsProgressBar({
    items: [{
      label: {
        text: title
      },
      complete: true
    }, {
      label: {
        text: partnerResponse
      },
      complete: progressionIndex > 1,
      active: progressionIndex == 1
    }, {
      label: {
        text: conditionalOrderGranted
      },
      complete: progressionIndex > 2,
      active: progressionIndex == 2
    }, {
      label: {
        text: applicationEnded
      },
      complete: progressionIndex >= 3,
      active: progressionIndex == 3
    }]
  }) }}
  {% if userCase.applicant1CannotUpload or userCase.applicant2CannotUpload or userCase.iWantToHavePapersServedAnotherWay %}
    <h2 class="govuk-heading-l">{{ subHeading1 }}</h2>
    <p class="govuk-body">{{ line1 }}</p>
    {% if userCase.applicant1CannotUpload or userCase.applican2CannotUpload %}
      <h3 class="govuk-heading-m">{{ subHeading2 }}</h3>
      <p class="govuk-body">{{ line2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for document in userCase.applicant1CannotUploadDocuments %}
          <li>{{ documents[document] }}</li>
        {% endfor %}
      </ul>

      {% set sendingDocumentsByEmail %}
        <ol class="govuk-list govuk-list--number">
          {% for property, step in documentsByEmailSteps %}
            {% if loop.last %}
              <li>{{ step | safe }}</li>
            {% else %}
              <li>{{ step }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endset %}
      {{ govukDetails({
        summaryText: documentsByEmail,
        html: sendingDocumentsByEmail
      }) }}

      {% set sendingDocumentsByPost %}
        <ol class="govuk-list govuk-list--number">
          {% for property, step in documentsByPostSteps %}
            <li>{{ step }}</li>
          {% endfor %}
        </ol>
        <p class="govuk-body"><strong>{{ address | safe }}</strong></p>
        <p class="govuk-body">{{ documentsByPostMoreDetails }}</p>
      {% endset %}
      {{ govukDetails({
        summaryText: documentsByPost,
        html: sendingDocumentsByPost
      }) }}
    {% endif %}
    {% if userCase.iWantToHavePapersServedAnotherWay %}
      <h3 class="govuk-heading-m">{{ subHeading3 }}</h3>
      <p class="govuk-body">{{ line3 }}</p>
      <p class="govuk-body">{{ line4 | safe }}</p>
    {% endif %}
  {% endif %}
  <h2 class="govuk-heading-l">{{ subHeading4 }}</h2>
  <p class="govuk-body">{{ line5 }}</p>
  <h3 class="govuk-heading-m">{{ subHeading5 }}</h3>
  <p class="govuk-body">{{ line6 | safe }}</p>
  <p class="govuk-body">{{ line7 | safe }}</p>
  <p class="govuk-body">{{ line8 | safe }}</p>
  <p class="govuk-body">{{ line9 | safe }}</p>
  <h3 class="govuk-heading-m">{{ subHeading6 }}</h3>
  <p class="govuk-body">{{ line10 | safe }}</p>
  <h3 class="govuk-heading-m">{{ webChat }}</h3>
  <p class="govuk-body">{{ webChatDetails }}</p>
  <h3 class="govuk-heading-m">{{ sendUsAMessage }}</h3>
  <p class="govuk-body">{{ email | safe }}</p>
  <h3 class="govuk-heading-m">{{ telephone }}</h3>
  <p class="govuk-body">{{ telephoneNumber }}</p>
  <p class="govuk-body">{{ telephoneDetails }}</p>
  <p class="govuk-body">{{ telephoneCharges | safe }}</p>
  <p class="govuk-body">{{ domesticAbuse | safe }}</p>

  <h3 class="govuk-heading-m">{{ feedback }}</h3>
  <p class="govuk-body">{{ feedbackDetails | safe }}</p>
{% endblock %}

{% block contact_us %}{% endblock %}
