{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "common/page.njk" %}

{% set isCompleteCase = true %}
{% set showActions = false %}

{% block content %}
  {% block error_summary %}
    {% include "common/error/summary.njk" %}
  {% endblock %}

  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <h3 class="govuk-body-l">{{ subHeader }}</h3>

  {% for key, section in sections %}
    {% set rows = getAnswerRows(section, isCompleteCase, showActions) %}
    {% if rows | length %}
      <h2 class="govuk-heading-m">{{ sectionTitles[section] }}</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: rows
      }) }}
    {% endif %}
  {% endfor %}

  {% block form %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "../check-your-answers/form.njk" %}
      </div>
    </div>
  {% endblock %}

  {% include "common/contact-us.njk" %}
{% endblock %}
