nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  devmemoryLimits: 2Gi
  devmemoryRequests: 512Mi
  devcpuLimits: 1000m
  devcpuRequests: 500m
  autoscaling:
    enabled: false
  environment:
    APPINSIGHTS_KEY: '00000000-0000-0000-0000-000000000000'
    PCQ_ENABLED: 'true'
    REDIS_TTL_MS: 30
    CCD_URL: 'http://adoption-cos-api-pr-644-ccd-data-store-api'
    IDAM_ROLE: 'citizen'
idam-pr:
  enabled: true
  redirect_uris:
    adoption-web:
      - https://${SERVICE_FQDN}/receiver
