nodejs:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  autoscaling:
    enabled: false
  environment:
    CCD_URL: 'http://ccd-data-store-api-adoption-cos-api-pr-42.service.core-compute-preview.internal'
idam-pr:
  enabled: true
  redirect_uris:
    adoption-web:
      - https://${SERVICE_FQDN}/receiver
