@import '~govuk-frontend';
@import '~@hmcts/frontend/all';

@import './banner';
@import './header';
@import './contact-us';
@import './cookie-banner';
@import './task-list';

.hmcts-button-link,
.uppy-FileInput-btn {
  @extend %govuk-body-m;
  @extend %govuk-link;
  @include govuk-link-style-default;

  background: none;
  color: $govuk-link-colour;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin-bottom: 2em;
}

.hidden {
  display: none;
}

.float-left {
  margin-bottom: 10px !important;
  p {
    float: left;
  }
  a {
    float: left;
    padding-left: 20px;
  }
}
