{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% extends "govuk/template.njk" %}

{% block head %}
  {% include "./webpack/css.njk" %}
  <!-- {{ userCase.id }} -->
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({"language": "en", "event": "Site language"})
  </script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K66QQ98');</script>
  <!-- End Google Tag Manager -->
{% endblock %}

{% block header %}
  {% include "./cookie-banner.njk" %}
  {% if laPortal == true %}
    {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: (globals.basePath if globals.basePath) + "/la-portal/kba-case-ref",
    homepageUrl: "/la-portal/kba-case-ref",
    navigation: []
    }) }}
  {% else %}
    {{ govukHeader({
      containerClasses: "govuk-width-container",
      serviceName: serviceName,
      serviceUrl: (globals.basePath if globals.basePath) + "/",
      navigation: [
        {
          href: "/logout" if isLoggedIn else "/",
          text: signOut if isLoggedIn else signIn
        }
      ]
    }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ serviceName }} - {{ title if title else label}} - {{ govUk }}
{% endblock %}

{# Feedback link will be used in both CUI and la-portal with exact same behaviour with dynamic page title as query param. #}
{% set feedbackLink = feedback | replace("PAGE_TITLE", title if title else label) %}

{% block beforeContent %}

{# ADOP-1231-LAPortal-Welsh-Translation starts
  {% if laPortal == true %}
      {{ govukPhaseBanner({
      tag: {
        text: phase
      },
      html: feedbackLink
      }) }}
  {% else %} #}
      {{ govukPhaseBanner({
      tag: {
        text: phase
      },
      html: feedbackLink + languageToggle
      }) }}
  {# {% endif %}
ADOP-1231-LAPortal-Welsh-Translation starts #}

  {% block backLink %}
    <a href="#" class="govuk-back-link">{{ back }}</a>
  {% endblock %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block error_summary %}
        {% include "common/error/summary.njk" %}
      {% endblock %}
     <fieldset class="govuk-fieldset">
      {% block page_content %}
        {% if title %}
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ title }}</h1>
        </legend>   
        {% endif %}
      {% endblock %}

      {% if form %}
        {% block form %}
          {% include "common/form/form.njk"%}
        {% endblock %}
      {% endif %}

      {% if not getContent(form.hideContactHelpSection) %}
        {% block contactUs %}
          {% include "common/form/contactForHelp.njk"%}
        {% endblock %}
      {% endif %}
     </fieldset> 
    </div>
  
</div>
{% endblock %}

{% block footer %}
  {% if laPortal == true %}
    {{ govukFooter({
        meta: {
          items: [
            {
              href: "/la-portal/cookies",
              text: cookies
            },
            {
              href: "/la-portal/privacy-policy",
              text: privacyPolicy
            },
            {
              href: "/la-portal/accessibility-statement",
              text: accessibility
            },
            {
              href: "/la-portal/terms-and-conditions",
              text: termsAndConditions
            },
            {
              href: "/la-portal/contact-us",
              text: contactUs
            }
          ]
        }
      }) }}
  {% else %}
    {{ govukFooter({
        meta: {
          items: [
            {
              href: "/cookies",
              text: cookies
            },
            {
              href: "/privacy-policy",
              text: privacyPolicy
            },
            {
              href: "/accessibility-statement",
              text: accessibility
            },
            {
              href: "/terms-and-conditions",
              text: termsAndConditions
            },
            {
              href: "/contact-us",
              text: contactUs
            }
          ]
        }
      }) }}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "./webpack/js.njk" %}
{% endblock %}
