{% extends "./page.njk" %}

{% block page_content %}
  <span class="govuk-caption-l">{{ section }}</span>
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {% if line1 %}
    <p class="govuk-body">{{ line1 }}</p>
  {% endif %}
  {% if line2 %}
    <p class="govuk-body">{{ line2 }}</p>
  {% endif %}
{% endblock %}
