{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <div class="govuk-inset-text">
    {{ line2 }}
  </div>
{% endblock %}
