{% extends "govuk/template.njk" %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/landing",
    containerClasses: "app-width-container",
    serviceName: "Adoption account",
    serviceUrl: "/landing",    
    navigation: [
      {
        href: "/my-account",
        text: "My account",
        active: true
      },
      {
        href: "/logout",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
    {% set phaseBarHtml = content[i18n.language].phaseBanner.new + '<a class="govuk-link" href="'+ content[i18n.language].general.exitLink + pageHeader + '" target="_blank">' + content[i18n.language].phaseBanner.report + "</a> " + content[i18n.language].phaseBanner.improve %}
    {% if welshEnabled %}
        {% set queryStringConcat = "" %}

        {% if "lng=" in currentUrl %}
            {% set currentUrl = currentUrl | replace("?lng=en", "") | replace("&lng=en", "") | replace("?lng=cy", "") | replace("&lng=cy", "") %}
        {% endif %}

        {% set languageFlag = "" %}
        {% if i18n.language == "en" %}
            {% set languageFlag = queryStringConcat + "lng=cy" %}
        {% else %}
            {% set languageFlag = queryStringConcat + "lng=en" %}
        {% endif %}

        {% set phaseBarHtml = phaseBarHtml + (content[i18n.language].phaseBanner.languageToggle | replace("{currentUrl}", currentUrl) | replace("{languageFlag}", languageFlag)) %}
    {% endif %}

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
