{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">

  <div class="govuk-form-group">
    {{ govukButton({
      text: getContent(form.submit.text),
      classes: form.submit.classes,
      type: "submit",
      preventDoubleClick: true,
      attributes: {
        id: 'main-form-submit'
      }
    }) }}

    <p class="govuk-body">
      <button class="hmcts-button-link" type="submit" name="cancel" value="true" data-prevent-double-click="true" data-module="govuk-button" />
        {{ cancel }}
      </button>
    </p>
  </div>
</form>
