{% extends "common/page.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: feedback + languageToggle
  }) }}
{% endblock %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  {{ govukWarningText({
    text: newApplicationDisclaimer,
    iconFallbackText: "Warning"
  }) }}
{% endblock %}

{% block form %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "./form.njk" %}
    </div>
  </div>
{% endblock %}
