{% extends "common/page.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ info }}</p>

    <h2 class="govuk-heading-s">{{ whoManages }}</h2>
    <p class="govuk-body">{{ managedBy }}</p>
    <p class="govuk-body">{{ moj | safe }}</p>
    <p class="govuk-body">{{ responsibleForDeciding }}</p>
    <p class="govuk-body">{{ moreInformation | safe }}</p>

    <h3 class="govuk-heading-s">{{ thePersonal }}</h3>
    <p class="govuk-body">{{ whenYouUseDivorceService }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ applicantName }}</li>
        <li>{{ applicant2Name }}</li>
        <li>{{ changedApplicantName }}</li>
        <li>{{ changedApplicant2Name }}</li>
        <li>{{ marriageCert }}</li>
        <li>{{ countryApplicantMarried }}</li>
        <li>{{ countryApplicant2Married }}</li>
        <li>{{ applicantHabitualResidence }}</li>
        <li>{{ applicant2HabitualResidence }}</li>
        <li>{{ applicantDomicile }}</li>
        <li>{{ applicant2Domicile }}</li>
        <li>{{ applicantEmailAndPhone }}</li>
        <li>{{ applicant2EmailAndPhone }}</li>
        <li>{{ applicantAddressAndNames }}</li>
        <li>{{ applicant2AddressAndNames }}</li>
        <li>{{ applicantOtherCourtCases }}</li>
        <li>{{ applicant2OtherCourtCases }}</li>
    </ul>
    <h3 class="govuk-heading-s">{{ receivingNotifications }}</h3>
    <p class="govuk-body">{{ youNeedSignUp }}</p>

    <h3 class="govuk-heading-s">{{ storingYourData }}</h3>
    <p class="govuk-body">{{ askedForEmailAddress }}</p>
    <p class="govuk-body">{{ holdYourData }}</p>
    <p class="govuk-body">{{ whenADivorceIsFinalised }}</p>
    <p class="govuk-body">{{ theRemainder }}</p>

    <h2 class="govuk-heading-s">{{ whyWeCollect }}</h2>
    <p class="govuk-body">{{ personalData }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ processApplication }}</li>
        <li>{{ legalRequirements }}</li>
        <li>{{ improveService }}</li>
    </ul>
    <p class="govuk-body">{{ staffUse }}</p>

    <h2 id="usingYourData" class="govuk-heading-s">{{ usingYourData }}</h2>
    <p class="govuk-body">{{ asPart }}</p>
    <p class="govuk-body">{{ weMayAskForPermission }}</p>
    <p class="govuk-body">{{ weUseCookies | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ ifYouOpenEmail }}</li>
        <li>{{ yourComputer }}</li>
        <li>{{ theRegion }}</li>
        <li>{{ theWeb }}</li>
    </ul>

    <h2 id="sharingYourData" class="govuk-heading-s">{{ sharingYourData }}</h2>
    <p class="govuk-body">{{ ifAnother }}</p>
    <p class="govuk-body">{{ dataSharedWithPrintingServiceProvider }}</p>
    <p class="govuk-body">{{ ifYouContactUs }}</p>
    <p class="govuk-body">{{ crime }}</p>
    <p class="govuk-body">{{ weUse | safe }}</p>

    <h2 id="storeAndShare" class="govuk-heading-s">{{ storeAndShare }}</h2>
    <p class="govuk-body">{{ personalInformation }}</p>

    <h3 class="govuk-heading-s">{{ yourRights }}</h3>
    <p class="govuk-body">{{ youCanAsk }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ toSeePersonal }}</li>
        <li>{{ toHavePersonal }}</li>
        <li>{{ toHaveDataRemoved }}</li>
        <li>{{ thatAccessIsRestricted }}</li>
    </ul>
    <p class="govuk-body">{{ ifYouWantToSeePersonal }}</p>
     <ul class="govuk-list govuk-list--bullet">
        <li>{{ completeForm | safe }}</li>
        <li>{{ writeToUs }}</li>
    </ul>

    <p class="govuk-body">{{ askMoreInformation }}</p>
     <ul class="govuk-list govuk-list--bullet">
        <li>{{ agreementsWeHave }}</li>
        <li>{{ withoutTellingYou }}</li>
        <li>{{ ourInstructions }}</li>
        <li>{{ howWeCheck }}</li>
    </ul>

    <p class="govuk-body">{{ mojProtection }}</p>
     <ul class="govuk-list govuk-list--bullet">
        <li>{{ pettyFrance }}</li>
        <li>{{ emailing | safe }}</li>
    </ul>

    <h2 class="govuk-heading-s">{{ howToComplain }}</h2>
    <p class="govuk-body">{{ seeOurComplaints | safe }}</p>
    <p class="govuk-body">{{ writeTo }}</p>
    <p class="govuk-body">{{ email | safe }}</p>
    <p class="govuk-body">{{ youCanAlsoComplain | safe }}</p>
  </div>
</div>
{% endblock %}
