{% extends "common/page.njk" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p class="govuk-body">{{ websiteRanBy | safe }}</p>
      <p class="govuk-body">{{ asManyAsPossible }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ asManyAsPossibleColours }}</li>
        <li>{{ asManyAsPossibleZoom }}</li>
        <li>{{ asManyAsPossibleKeyboard }}</li>
        <li>{{ asManyAsPossibleSpeech }}</li>
        <li>{{ asManyAsPossibleListen }}</li>
      </ul>
      <p class="govuk-body">{{ simpleAsPossible }}</p>
      <p class="govuk-body">{{ abilityNet | safe }}</p>

      <h3 class="govuk-heading-s">{{ howAccessible }}</h3>
      <p class="govuk-body">{{ somePartsNot }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ somePartsNotReflow }}</li>
      </ul>

      <h3 class="govuk-heading-s">{{ feedbackAndContactInformation }}</h3>
      <p class="govuk-body">{{ needMoreInformation }}</p>
      <p class="govuk-body">{{ findCourtTribunalDetails | safe  }}</p>
      <p class="govuk-body">{{ askIfUnsure }}</p>

      <h3 class="govuk-heading-s">{{ reportingAccessibility }}</h3>
      <p class="govuk-body">{{ improveAccessibility | safe }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ email | safe }}</li>
      </ul>

      <h3 class="govuk-heading-s">{{ enforcementProcedure }}</h3>
      <p class="govuk-body">{{ humanRightsCommission | safe }}</p>
      <p class="govuk-body">{{ notHappy | safe }}</p>

      <h2 class="govuk-heading-m">{{ contactingUs }}</h2>
      <p class="govuk-body">{{ contactTextRelay }}</p>
      <p class="govuk-body">{{ contactInductionLoops }}</p>
      <p class="govuk-body">{{ contactFindOutHowToContactUs | safe }}</p>

      <h2 class="govuk-heading-m">{{ technicalInfo }}</h2>
      <p class="govuk-body">{{ hmctsIsCommitted }}</p>

      <h2 class="govuk-heading-m">{{ complianceStatus }}</h2>
      <p class="govuk-body">{{ partiallyCompliant | safe }}</p>

      <h2 class="govuk-heading-m">{{ nonAccessibleContent }}</h2>
      <p class="govuk-body">{{ accessibilityIssues }}</p>
      <h2 class="govuk-heading-s">{{ issuesWithMobile }}</h2>
      <p class="govuk-body">{{ linkTextIssues }}</p>

      <h2 class="govuk-heading-m">{{ improvingAccessibility }}</h2>
      <p class="govuk-body">{{ statementCommitted }}</p>
      <p class="govuk-body">{{ statementDAC }}</p>

      <h2 class="govuk-heading-m">{{ preparationAccessibilityStatement }}</h2>
      <p class="govuk-body">{{ statementPreparationDate }}</p>
      <p class="govuk-body">{{ lastTestedStatement | safe }}</p>
      <p class="govuk-body">{{ DACTestStatement }}</p>
    </div>
  </div>
{% endblock %}
