{% from "govuk/components/button/macro.njk" import govukButton %}

<form class="form" id="main-form" method="post" action="" novalidate="novalidate">
  <input type="hidden" name="_csrf" id="csrfToken" value="{{ csrfToken }}">
    {% block form_content %}
      {% include "common/form/fields.njk" %}
    {% endblock %}

    {{ govukButton({
      text: "Confirm receipt",
      classes: form.submit.classes,
      type: "submit",
      name: "applicant2ConfirmReceipt",
      value: "Yes",
      preventDoubleClick: true
    }) }}

 </form>
