{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "common/page.njk" %}
{% block page_content %}
    <span class="govuk-caption-l">{{ section }}</span>
    <h1 class="govuk-heading-l">{{ label }}</h1>
    <p class="govuk-body">{{ changeApplicantTextLabel }}</p>
{% endblock %}
