{% extends "common/page.njk" %}

{% block page_content %}
  {% include "./postcodeError.njk" %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  {% include "./postcodeEnter.njk" %}
  {% include "./postcodeSelect.njk" %}
{% endblock %}

{% block form %}
  {% include "./form.njk" %}
{% endblock %}
