{% extends "common/page.njk" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: phase
    },
    html: feedback + languageToggle
  }) }}
{% endblock %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body"><a href="https://www.gov.uk/apply-for-divorce" class="govuk-link">{{ exitLink }}</a></p>
{% endblock %}
