{% from "components/hmcts-progress-bar/macro.njk" import hmctsProgressBar %}

{% if isJointApplication %}
  {% set items = [{
    label: {
      text: applicationSubmitted
    },
    complete: true,
    active: false
  }, {
    label: {
      text: conditionalOrderApplication
    },
    complete: progressionIndex > 0,
    active: hasApplicantConfirmedReceipt
  }, {
    label: {
      text: conditionalOrderGranted
    },
    complete: progressionIndex > 1,
    active: progressionIndex == 1
  }, {
    label: {
      text: finalOrderApplication
    },
    complete: progressionIndex > 2,
    active: progressionIndex == 2
  }, {
    label: {
      text: applicationEnded
    },
    complete: progressionIndex >= 3,
    active: progressionIndex == 3
  }] %}
{% else %}
  {% set items = [{
    label: {
      text: applicationSubmitted
    },
    complete: true,
    active: false
  }, {
    label: {
      text: response
    },
    complete: progressionIndex > 5,
    active: progressionIndex >= 0 and progressionIndex < 6
  }, {
    label: {
      text: conditionalOrderApplication
    },
    complete: progressionIndex > 6,
    active: hasApplicantConfirmedReceipt
  }, {
    label: {
      text: conditionalOrderGranted
    },
    complete: progressionIndex > 7,
    active: progressionIndex == 7
  }, {
    label: {
      text: finalOrderApplication
    },
    complete: progressionIndex > 8,
    active: progressionIndex == 8
  }, {
    label: {
      text: applicationEnded
    },
    complete: progressionIndex >= 9,
    active: progressionIndex == 9
  }] %}
{% endif %}

{{ hmctsProgressBar({
  classes: 'hub-progress-bar',
  items: items
}) }}
