{% extends "common/form/form.njk"%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block before_fields %}
  <label class="govuk-label govuk-label--m">{{ postcode }}</label>
  <div class="govuk-form-group float-left">
    <p class="govuk-body govuk-!-font-size-19">{{ userCase.birthMotherAddressPostcode }}</p>
    <p class="govuk-body">
      {% if laPortal == true %}
        <a href="/la-portal/birth-mother/address/select" data-link="resetPostCodeLookup" class="govuk-link govuk-!-font-size-19" aria-label="{{ change }} {{ postcode }}">{{ change }}</a>
      {% else %}
        <a href="{{changePostCodeUrl}}" data-link="resetPostCodeLookup" class="govuk-link govuk-!-font-size-19" aria-label="{{ change }} {{ postcode }}">{{ change }}</a>
      {% endif %}
    </p>
  </div>
{% endblock %}

{% block after_fields %}
  <div class="govuk-form-group">
    <p class="govuk-body">
      {% if laPortal == true %}
        <a href="/la-portal/birth-mother/address/manual" id="cannotFindAddress" class="govuk-link">{{ cannotFindAddress }}</a>
      {% else %}
        <a href="{{cantFindAddressUrl}}" id="cannotFindAddress" class="govuk-link">{{ cannotFindAddress }}</a>
      {% endif %}
    </p>
  </div>
{% endblock %}