security:
  referrerPolicy: 'origin'
port: 3001
timeout: 30000
services:
  authProvider:
    url: 'http://rpe-service-auth-provider-aat.service.core-compute-aat.internal'
    microservice: 'adoption_web'
    secret: 'NEED TO INSERT SECRET'
  # idam:
  #   authorizationURL: 'http://localhost:3501/login'
  #   tokenURL: 'http://localhost:5000/o/token'
  #   clientID: 'adoption-web'
  #   clientSecret: 'thUphEveC2Ekuqedaneh4jEcRuba4t2t'
  #   systemUsername: 'dummy_user'
  #   systemPassword: 'dummy_password'
  # case:
  #   url: 'http://localhost:4452'    
  postcodeLookup:
    url: 'https://api.os.uk/search/places/v1'
    token: 'NEED TO INSERT SECRET'
  feeLookup:
    url: 'http://fees-register-api-aat.service.core-compute-aat.internal/fees-register/fees/lookup'
health:
  timeout: 5000
  deadline: 15000
session:
  secret: 'local'
  redis:
    host:
    key:
e2e:
  userTestPassword: ''
appInsights:
  instrumentationKey:
