{% extends "common/page.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block page_content %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                    {{  govukPanel({
                            titleText: title
                        })
                    }}
            </div>
        </div>
    </div>
{% endblock %}