{% extends "common/form/form.njk"%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block after_fields %}
    {{ govukWarningText(getContent(warningText)) }}
    {{ govukDetails(getContent(details)) }}
{% endblock %}