{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  {% set more %}
      <p class="govuk-body">{{ more1 }}</p>
      <p class="govuk-body">{{ more2 | safe }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ moreBullet1 }}</li>
        <li>{{ moreBullet2 }}</li>
      </ul>
      <p class="govuk-body">{{ more3 | safe }}</p>
      <p class="govuk-body">{{ more4 }}</p>
  {% endset %}
  {{ govukDetails({
    summaryText: readMore,
    html: more
  }) }}
{% endblock %}
