{% extends "common/template.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
{% block errorSummary %}
  {% include "common/error/summary.njk" %}
{% endblock %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4 ">{{ title }}</h1>

{{ govukInsetText({text: hint}) }}

{{ govukDetails(getContent(details)) }}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    Do you have a physical, mental or learning disability or long term health condition that means you need support during your case?
</legend>

{% block form %}
  {% include "common/form/form.njk"%}
{% endblock %}

{% endblock %}
