{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
    classes: field.classes,
    idPrefix: field.id if field.id else fieldName,
    name: fieldName,
    hint: {
      html: getContent(field.hint)
    } if field.hint else undefined,
    items: formItems(field.values, userCase[fieldName]),
    errorMessage: getError(fieldName),
    formGroup: {
      classes: "hidden " + field.id if field.hidden else field.id
    }
  }) }}

