{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ 
  govukSelect({
    classes: field.classes or "govuk-!-width-three-quarters",
    idPrefix: field.id if field.id else fieldName,
    name: fieldName,
    label: {
      text: selectAddress,
      classes: labelClasses
    },
    items: items,
    attributes: {
      autocomplete: "off"
    },
    errorMessage: getError(fieldName)
  })
}}