{% from "internalLink.njk" import internalLink %}

<div class="header-proposition">
  <div class="content">
        {% if isLoggedIn === true and isFirstContactPath === false %}
          <li>{{ internalLink(t('Sign out'), AppPaths.logoutReceiver.uri) }}</li>
        {% endif %}
  </div>
</div>
