{% from "../macros/internalLink.njk" import internalLink %}

<div class="header-proposition">
  <div class="content">
      <nav id="proposition-menu">
        <ul id="proposition-links" class="pull-right">
        {% if isLoggedIn === true and isFirstContactPath === false %}
          <li>{{ internalLink(t('Sign out'), AppPaths.logoutReceiver.uri) }}</li>
        {% endif %}
      </ul>
          </nav>
  </div>
</div>
