{% extends "common/page.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <h2 class="govuk-heading-m">{{sendUsAMessageHeading}}</h2>
    <p class="govuk-body">{{ findCourtTribunalDetails | safe }}</p>
    <p class="govuk-body">{{ askIfUnsure }}</p>
{% endblock %}
