{% extends "common/page.njk" %}
{% block content %}

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl"> Apply to adopt a child placed in your care</h1>

                <p class="govuk-body">You can apply to adopt a child who's in your care following a <a href="">court placement order</a>.
                    <p>They must have lived with you permanently for at least 10 weeks before the court will look at your application.</p>
                    <p>You can still fill in and save your application form before this time, but cannot submit until the 10 week period has passed.</p>

                    <h2 class="govuk-heading-m">Before you start</h2>

                    <p class="govuk-body">Your social worker can provide some of the information you need to complete your application.</p>

                    <p class="govuk-body">You'll need the child's:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>full birth certificate (this includes details of the child's birth parents)</li>
                        <li>placement order details </li>
                    </ul>
                    <p> You'll also need to post the child's full birth certificate to the family court reviewing your application.</p>
                    <div class="govuk-inset-text">Information you give about yourselves and the child you want to adopt will only be seen by the court and social workers.</div>

                    <p class="govuk-body">You'll also be asked about the child's:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>birth parents, such as name, address and occupation</li>
                        <li>past court proceedings

        
                        
                        <li>past court proceedings for siblings or half-siblings</li>
                    </ul>

                    <h2 class="govuk-heading-m">Other things you might need to apply</h2>

                    <p class="govuk-body">You'll need to upload each applicant's:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>passport photo page</li>
                        <li> driving licence </li>
                    </ul>

                    <p> If relevant, you'll also need to upload:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>your marriage or civil partnership certificate, in English or Welsh</li>
                        <li>your spouse or civil partner's death certificate</li>
                        <li>a decree absolute of divorce or decree of nullity of your marriage</li>
                        <li>a dissolution order or nullity order of your civil partnership</li>
                        <li>a decree of judicial separation</li>
                        <li>if you're using a different name from the one on your marriage or civil partnership certificate, evidence to explain the difference – for example, your deed poll</li>
                        <li>a copy of your UK visa </li>
                        <li>any passport pages that have UK immigration entry stamps</li>
                    </ul>
                    <a href="10-weeks.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}