{% extends "common/page.njk" %}

{% block page_content %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ line1 }}</p>
    <p class="govuk-body">{{ line2 }}</p>
    <p class="govuk-body">{{ line3 }}</p>
{% endblock %}
