{% extends "common/page.njk" %}

{% block backLink %}
{% endblock %}

{% block page_content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <p class="govuk-body">{{ line2 }}</p>
  <p class="govuk-body"><a href="/save-and-sign-out?lng={{language}}" class="govuk-link">{{ saveAndSignOut }}</a></p>
{% endblock %}
