{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
<ul class="govuk-list govuk-list--bullet">
  {% for connection in userCase.connections %}
      <li>{{ connectionBulletPoints[connection] }}</li>
  {% endfor %}
</ul>
{% set summary %}
    {% if helpText1 %}<h2 class="govuk-heading-m">{{ helpText1 }}</h2>{% endif %}
    {% if helpText2 %}<p>{{ helpText2 }}</p>{% endif %}
    {% if helpText3 %}<p>{{ helpText3 }}</p>{% endif %}
    {% if helpText4 %}<p>{{ helpText4 }}</p>{% endif %}
    {% if helpText4 and helpText5 %}<br>{% endif %}
    {% if helpText5 %}<h2 class="govuk-heading-m">{{ helpText5 }}</h2>{% endif %}
    {% if helpText6 %}<p>{{ helpText6 }}</p>{% endif %}
    {% if helpText7 %}<p>{{ helpText7 }}</p>{% endif %}
    {% if helpText8 %}<p>{{ helpText8 }}</p>{% endif %}
    {% if helpText9 %}<p>{{ helpText9 | safe }}</p>{% endif %}
    {% if helpText10 %}<p>{{ helpText10 }}</p>{% endif %}
    {% if helpText11 %}<p>{{ helpText11 }}</p>{% endif %}
  {% endset %}
  {% if helpText1 or helpText5 %}
  {{ govukDetails({
    summaryText: readMore,
    html: summary
  }) }}
  {% endif %}
{% endblock %}
