{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if progressionIndex == 5 %}
  <p class="govuk-body">{{ dispute.line1 }}</p>
  <p class="govuk-body">{{ dispute.line2 }}</p>
  <h4 class="govuk-heading-s">{{ whatHappensNext }}</h4>
  <p class="govuk-body">{{ dispute.line3 }}</p>
  <p class="govuk-body">{{ dispute.line4 }}</p>
{% elif progressionIndex == 4 %}
  <p class="govuk-body">{{ pendingDispute.line1 | safe }}</p>
  <h4 class="govuk-heading-s">{{ whatHappensNext }}</h4>
  <p class="govuk-body">{{ pendingDispute.line2 }}</p>
  <p class="govuk-body">{{ pendingDispute.line3 }}</p>
{% elif progressionIndex == 3 %}
  <p class="govuk-body">{{ holding.line1 | safe }}</p>
  <p class="govuk-body">{{ holding.line2 }}</p>
  <p class="govuk-body">{{ holding.line3 }}</p>
  {% set readMoreContent %}
    <p class="govuk-body">{{ holding.line4 }}</p>
    <ol class="govuk-list govuk-list--number">
    {% for property, line in holding.steps %}
      <li>{{ line | safe }}</li>
    {% endfor %}
    </ol>
    <p class="govuk-body">{{ holding.line5 | safe }}</p>
  {% endset %}
  {{ govukDetails({
    summaryText: holding.readMore,
    html: readMoreContent
  }) }}
{% elif progressionIndex == 2 %}
  <p class="govuk-body">{{ aosDue.line1 }}</p>
  <p class="govuk-body">{{ aosDue.line2 | safe }}</p>
{% else %}
  {% for property, line in aosAwaitingOrDrafted %}
    <p class="govuk-body">{{ line }}</p>
  {% endfor %}
{% endif %}
