{% extends "common/page.njk" %}

{% block page_content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ line1 }}</p>
  <div class="govuk-inset-text">
    <p class="govuk-body"> {{ line2 | safe }}</p>
    <p class="govuk-body"> {{ line3 | safe }}</p>
  </div>
{% endblock %}
